<!DOCTYPE html>
<html>

    <head>
        <title>B.I.R.D.</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>

    <body>
        <div id="title-div">
            <h1 id="title">B.I.R.D. - Bird Image Recognition Detector</h1>
            <div id="description-div">
                <p id="description">
                    B.I.R.D. is a machine learning project to identify bird species
                    from images. The project wraps a complex machine learning backend
                    with a user friendly web application on the front end.
                </p>
                <p id="instructions">
                    To use the application, upload an image of a bird and click the
                    "Predict Species" button. The application will return the top 3
                    predictions of the bird species.
                </p>
                <p id="github-link">
                    Check out the project on
                    <a href="https://github.com/jed-richards/bird-image-recognition-detector">
                        GitHub!
                    </a>
                </p>
            </div>
        </div>

        <div id="form-div">
            <form action="{{ url_for('predict') }}" method="POST" enctype="multipart/form-data">
                <label for="image">Insert a bird image:</label>
                <input type="file" name="image" id="image"/>
                <button type="submit" name="submit" id="predict-button">Predict Species</button>
            </form>
        </div>

        {% if prediction %}
        <!-- show image and percentage -->
        <div id="prediction-div">
            <div id="user-image-div">
                <h3 id="user-image-label">Your Image</h3>
                <img src="/{{prediction.user_image}}" alt="Your Bird Image" id="user-bird-image">
            </div>
            <div id="top-three-div">
                <div class="predicted-image-div">
                    <h3 id="title">Prediction 1</h3>
                    <p id="species">Predicted species: <strong>{{ prediction.prediction1.species }}</strong></p>
                    <p id="percentage">Confidence: <strong>{{ prediction.prediction1.accuracy }} %</strong></p>
                    <p id="prediction_id">Predicted ID: <strong>{{ prediction.prediction1.predicted_id }}</strong></p>
                    <img src="{{ url_for('serve_image', predicted_image_path=prediction['prediction1']['predicted_image']) }}" alt="Predicted Image">
                </div>
                <div class="predicted-image-div">
                    <h3 id="title">Prediction 2</h3>
                    <p id="species">Predicted species: <strong>{{ prediction.prediction2.species }}</strong></p>
                    <p id="percentage">Confidence: <strong>{{ prediction.prediction2.accuracy }} %</strong></p>
                    <p id="prediction_id">Predicted ID: <strong>{{ prediction.prediction2.predicted_id }}</strong></p>
                    <img src="{{ url_for('serve_image', predicted_image_path=prediction['prediction2']['predicted_image']) }}" alt="Predicted Image">
                </div>
                <div class="predicted-image-div">
                    <h3 id="title">Prediction 3</h3>
                    <p id="species">Predicted species: <strong>{{ prediction.prediction3.species }}</strong></p>
                    <p id="percentage">Confidence: <strong>{{ prediction.prediction3.accuracy }} %</strong></p>
                    <p id="prediction_id">Predicted ID: <strong>{{ prediction.prediction3.predicted_id }}</strong></p>
                    <img src="{{ url_for('serve_image', predicted_image_path=prediction['prediction3']['predicted_image']) }}" alt="Predicted Image">
                </div>
            </div>
        </div>
        {% endif %}

    </body>

</html>
