h1#title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#description-div {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #ccc;
    padding: 5px;
    border-radius: 4px;
}

#predict-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5px;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

div#form-div {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #ccc;
    padding: 5px;
    border-radius: 4px;
}

div#prediction-div {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #ccc;
    background-color: #ccc;
    padding: 5px;
    border-radius: 4px;
}

div#user-image-div {
    padding: 5px;
    border: 3px solid #black;
    border-radius: 5px;
    background-color: dimgrey;
    text-align: center;
    color: white;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
}

div#top-three-div {
    border: 3px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

div.predicted-image-div {
    border-radius: 4px;
    background-color: dimgrey;
    text-align: center;
    color: white;
    width: fit-content;
    margin: inherit;
    flex: 1 1;
    border: 2px solid black;
}

.predicted-image-div p {
    font-size: 16px;
    margin: auto;
}

h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    font-size: 20px;
}

img {
    border: 2px solid black;
    border-radius: 5px;
}
